.masthead {
  color: $secondary;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/elementos-header.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    p {
      margin-bottom: 0;
    }
  }
  h2 {
    color: #256bc3;
    font-weight: 400;
  }
  h3 {
    margin-bottom: 1rem;
    letter-spacing: 2px;
  }
  .btn {
    border-radius: 32px;
    background-color: #eabf21 !important;
    border: 1px;
    color: inherit !important;
    margin-top: 15px;
    &:hover {
      color: white !important;
      background: $secondary !important;
    }
  }
  .icon-header {
    width: 26px;
    margin-right: 10px;
  }
  .informations {
    padding-left: 20px;
    margin-top: 16px;
  }
  @media (min-width: 992px) {
    height: 100vh;
    .container {
      max-width: 720px;
    }
    h1 {
      font-size: 2.5rem;
    }
  }
}
